@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #212529 !important;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Loading Screen */
.loading-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 9999;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #e5fae5;
  transform: translateY(-100%);
  transition: transform 0.8s ease-in-out;
}

.loading-screen.show {
  transform: translateY(0);
}

.loading-screen.hide {
  transform: translateY(-100%);
}

.loading-screen h1 {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.loading-screen p {
  font-size: 16px;
  font-weight: 500;
}

/* Header */
#header {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

#header .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#header .image-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin-bottom: 2rem;
  background-color: #f8f9fa;
}

#header .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

#header .subtitle {
  font-size: 18px;
  font-weight: 600;
  color: #32cd32;
}

#header .description {
  font-size: 16px;
  color: #dee2e6;
  font-weight: 400;
  margin-bottom: 0;
}

#header .title,
#header .subtitle,
#header .description {
  text-align: center;
}

#header a.btn-cv {
  border-color: #32cd32;
  background-color: #32cd32;
}

#header a.btn-cv:hover {
  border-color: #28a745;
  background-color: #28a745;
}

#header a.btn-project {
  color: #32cd32;
  border-color: #32cd32;
  background-color: transparent;
}

#header a.btn-project:hover {
  color: #212529;
  border-color: #32cd32;
  background-color: #32cd32;
}

#header a.text-down {
  color: #dee2e6;
  margin-top: 4rem;
  text-decoration: none;
  background-color: transparent;
  animation: float 2.5s ease-in-out infinite;
}

/* Work Experience */
#experience .accordion-custom {
  background-color: #343a40;
}

#experience .accordion-custom .custom-bullet-list {
  padding-left: 0;
  list-style: none;
}

#experience .accordion-custom .custom-bullet-list li {
  position: relative;
  padding-left: 1.2em;
  margin-bottom: 0.4em;
}

#experience .accordion-custom .custom-bullet-list li::before {
  left: 0;
  content: "•";
  color: #dee2e6;
  font-weight: bold;
  position: absolute;
}

/* My Projects */
#projects {
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

#projects .title {
  font-size: 26px;
  font-weight: 600;
  color: #32cd32;
  text-align: center;
  margin-bottom: 1rem;
}

#projects .description {
  font-size: 16px;
  font-weight: 400;
  color: #dee2e6;
  text-align: center;
}

#projects #tabs .tabs-button.active {
  position: relative;
}

#projects #tabs .tabs-button.active::after {
  left: 0;
  width: 100%;
  content: "";
  height: 3px;
  bottom: -1rem;
  position: absolute;
  background-color: #32cd32;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#projects #tabs .tabs-button.active::after {
  width: 100%;
  animation: underline 0.3s forwards;
}

#projects .card-body img,
#projects .card .card-body a,
#projects .card .card-body .card-title {
  transition: color 0.3s ease-in-out;
}

#projects .card-body img {
  filter: grayscale(100%);
}

#projects .card:hover .card-body img {
  filter: grayscale(0%);
}

#projects .card:hover .card-body img,
#projects .card:hover .card-body .card-title {
  cursor: pointer;
}

#projects .card:hover .card-body a {
  color: #dee2e6 !important;
}

#projects .card:hover .card-body .card-title {
  color: #32cd32 !important;
}

#projects .card .card-body .card-title {
  line-clamp: 2;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

#projects .card .card-body .card-text {
  line-clamp: 3;
  font-size: 15px;
  overflow: hidden;
  color: #dee2e6;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

@keyframes underline {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}

/* Skills */
#skills ul.splide__pagination {
  z-index: 0;
  margin-bottom: -3rem;
}

#skills ul.splide__pagination li button.is-active {
  background: #32cd32;
}

/* Education */
#education .accordion-custom {
  background-color: #343a40;
}

#education .accordion-custom h6 {
  line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

/* Contact */
#contact {
  padding-top: 5rem;
}

#contact .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#contact .title {
  font-size: 26px;
  font-weight: 600;
  color: #32cd32;
  margin-bottom: 1rem;
}

#contact .description {
  font-size: 16px;
  font-weight: 400;
  color: #dee2e6;
  text-align: center;
}

#contact .form-control {
  color: #212529;
  border: none !important;
  padding: 1rem !important;
  font-size: 18px !important;
  border-radius: 0.75rem !important;
  background-color: #dee2e6 !important;
}

.form-control::placeholder {
  color: #212529 !important;
}

#contact .form-control:hover,
#contact .form-control:focus {
  box-shadow: none !important;
  background-color: #e5fae5 !important;
}

#contact form .form-control.has-value {
  background-color: #e5fae5 !important;
}

#contact .btn-custom {
  display: flex;
  padding: 1rem;
  font-weight: 500;
  color: #f8f9fa;
  align-items: center;
  border-radius: 0.75rem;
  border-color: #32cd32;
  background-color: #32cd32;
}

#contact .btn-custom:hover {
  color: #212529;
}

/* Menu Bottom */
#menuBottom .item {
  width: 48px;
  height: 48px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#menuBottom .item:hover {
  background-color: #e5fae5;
}

/* Bottom Sheet */
.bottom-sheet-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1040;
  position: fixed;
  pointer-events: none;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.bottom-sheet-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.bottom-sheet-overlay.closing {
  opacity: 0;
}

.bottom-sheet {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  display: flex;
  position: fixed;
  overflow: hidden;
  max-height: 80vh;
  flex-direction: column;
  background-color: white;
  transform: translateY(100%);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  transition: transform 0.3s ease;
}

.bottom-sheet.show {
  transform: translateY(0);
}

.bottom-sheet.closing {
  transform: translateY(100%);
}

.bottom-sheet-header {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: white;
  padding: 2rem 1rem 1rem 1rem;
  border-bottom: 1px solid #e9ecef;
}

.bottom-sheet-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem 1rem 2rem 1rem;
  scrollbar-width: none;
}

/* Section Title */
#about .section-title,
#experience .section-title,
#projects .section-title,
#skills .section-title,
#education .section-title,
#contact .section-title {
  font-size: 18px;
  font-weight: 600;
  color: #32cd32;
}

/* Breakpoints */
@media (min-width: 576px) {
  #header .title {
    font-size: 24px;
  }

  #header .subtitle {
    font-size: 20px;
  }

  #experience .accordion-custom .description {
    padding-left: 76px;
  }

  .bottom-sheet {
    margin: auto;
    max-width: calc(540px - 1.5rem);
  }
}

@media (min-width: 768px) {
  .loading-screen h1 {
    font-size: 30px;
  }

  .loading-screen p {
    font-size: 18px;
  }

  .container {
    max-width: 720px !important;
  }

  #header .title {
    font-size: 28px;
  }

  #header .subtitle {
    font-size: 22px;
  }

  #about .section-title,
  #experience .section-title,
  #projects .section-title,
  #skills .section-title,
  #education .section-title,
  #contact .section-title {
    font-size: 20px;
  }

  #projects .title {
    font-size: 30px;
  }

  #projects .description {
    font-size: 18px;
  }

  #contact .title {
    font-size: 30px;
  }

  #contact .description {
    font-size: 18px;
  }

  .bottom-sheet {
    margin: auto;
    max-width: calc(720px - 1.5rem);
  }
}
